:root {
  --color-White: hsl(0, 0%, 100%);
  --color-Black: hsl(0, 0%, 0%);
  --color-DarkGray: hsl(0, 0%, 59%);
  --color-VeryDarkGray: hsl(0, 0%, 17%);
  --color-input-error: gold;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  transition: top 0.5s ease-out, color 0.5s ease-out, fill 0.5s ease-out,
    background-color 0.5s ease-out, transform 0.5s ease-out, right 0.5s ease-out;
}

html,
body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-Black);
  line-height: 1.5;
}
div {
  z-index: 0;
}
a,
a:visited {
  text-decoration: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
