.container {
  padding: 0;
  height: 100vh;
}
.main {
  min-height: 100vh;
}
.header {
  background-image: url("/images/pattern-bg.png");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  height: 280px;
  /* padding: 30px;*/
  position: relative;
}

.title {
  padding-top: 30px;
  padding-bottom: 10px;
  line-height: 1.15;
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--color-White);
}

.title {
  text-align: center;
}

.homeMap {
  width: 100%;
  height: 520px;
}

@media (max-width: 375px) {
  .title {
    padding: 26px 0;
    line-height: 1.15;
    font-weight: 500;
    font-size: 1.4rem;
  }
  .homeMap {
    width: 100%;
    height: 528px;
  }
}
